<!DOCTYPE html>
<html>
  <head>
    <title>Server-Side Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="starter-template">
        <h1>Run Some Basic Python</h1>
        <p class="lead">The entire purpose of htis page is to run a Python script.<br> Type what you want below, and we'll try to count the number of words with a server-side Python script.</p>
      </div>

    </div><!-- /.container -->

<div class="container">

      <form class="form">
        <h2 class="form-heading">Write some things.</h2>
        <input type="text" name="words" class="form-control" placeholder="Python will evaluate what you write here." autofocus="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:100px">Evaluate</button>
      </form>
    <span></span>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $( "form" ).submit(function( event ) {
      $.getJSON($SCRIPT_ROOT + '/_count_words', {
        inp: $('input[name="words"]')
      }, function(data) {
        $("span").text(data.result);
      });
      return false;
      };
    </script>
  </body>
</html>
